
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 15px;
}


/* * * * * * * * * * * *
 * * Navigation Bar  * *
 * * * * * * * * * * * */

nav {
    background-color: rgba(51, 51, 51, 1);
    border: 1px solid rgb(51, 51, 51, 1);
    color: rgba(255, 255, 255, 1);
    display: block;
    margin: 0;
    z-index: 1000;
    font-family: 'Oswald', 'Futura', sans-serif;
}
nav > h1 {
    height: 1em;
    line-height: 1em;
    margin: 0em;
    padding: .5em;
    color: #FFF;
    background-color: rgba(51, 51, 51, 1);
    z-index: 1000;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 1000;
}


nav ul li {
    margin: 0;
    display: inline-block;
    list-style-type: none;
    transition: all 0.2s;
    z-index: 1000;
}
nav > ul > li > span,
nav > ul > li > a {
    color: rgba(170, 170, 170, 0.9);
    display: block;
    line-height: 2em;
    padding: 0.5em 2em;
    text-decoration: none;
    z-index: 1000;
}

nav li > ul{
    display : none;
    margin-top:1px;
    background-color: rgba(187, 187, 187, 0.9);
    z-index: 1000;

}
nav li > ul li{
    display: block;
    z-index: 1000;
}
nav  li > ul li span,
nav  li > ul li a {
    color: rgba(17, 17, 17, 0.9);
    display: block;
    line-height: 2em;
    padding: .5em 2em;
    text-decoration: none;
    z-index: 1000;
}
nav li:hover {
    background-color: rgba(102, 102, 102, 0.9);
    z-index: 1000;

}
nav li:hover > ul{
    position:absolute;
    display : block;
    z-index: 1000;
}
nav li > ul > li ul  {
    display: none;
    background-color: rgba(136, 136, 136, 0.9);
    z-index: 1000;
}
nav li > ul > li:hover > ul  {
    position:absolute;
    display : block;
    margin-left:100%;
    margin-top:-3em;
    z-index: 1000;
}

nav ul > li.sub{
    background: url(../img/arrow_down.png) right center no-repeat;
    z-index: 1000;
}

nav ul > li.sub li.sub{
    background: url(../img/arrow_right.png) right center no-repeat;
    z-index: 1000;
}


/* * * * * * * * * *
 * * Miscellanea * *
 * * * * * * * * * */

[data-icon]:before {
  font-family: font-awesome;
  content: attr(data-icon);
  speak: none; /* Not to be trusted. */
}


#articles {
    margin: 1em;
    padding: 1em;
    position: relative;
    width: 800px;
}



/* * * * * * * * * * *
 * * Button Stuff  * *
 * * * * * * * * * * */

.btn {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-default {
    text-shadow: 0 1px 0 #fff;
    color: rgba(51, 51, 51, 1);
    background-color: rgba(255, 255, 255, 1);
    border-color: rgba(204, 204, 204, 1);
}

.btn-default:focus,
.btn-default.focus {
  color: rgba(51, 51, 51, 1);
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}
.btn-default:hover {
  color: rgba(51, 51, 51, 1);
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: rgba(51, 51, 51, 1);
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active:hover,
.btn-default.active:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.btn-default:active.focus,
.btn-default.active.focus {
  color: rgba(51, 51, 51, 1);
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}
.btn-default:active,
.btn-default.active {
  background-image: none;
}
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus {
  background-color: #fff;
  border-color: #ccc;
}
.btn-default .badge {
  color: #fff;
  background-color: rgba(51, 51, 51, 1);
}

.btn-group {
    float: right;
    position: relative;
    display: inline-block;
    vertical-align: bottom;
}

.btn-group > .btn {
  position: relative;
  float: left;
}
.btn-group > .btn:hover,
.btn-group > .btn:focus,
.btn-group > .btn:active,
.btn-group > .btn.active {
  z-index: 2;
}
.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group {
  margin-left: -1px;
}

.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  border-radius: 0;
}
.btn-group > .btn:first-child {
  margin-left: 0;
}
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.btn-group > .btn:last-child:not(:first-child),
.btn-group > .dropdown-toggle:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.btn-group > .btn-group {
  float: left;
}
.btn-group > .btn-group:not(:first-child):not(:last-child) > .btn {
  border-radius: 0;
}
.btn-group > .btn-group:first-child:not(:last-child) > .btn:last-child,
.btn-group > .btn-group:first-child:not(:last-child) > .dropdown-toggle {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.btn-group > .btn-group:last-child:not(:first-child) > .btn:first-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}


img {
    margin: .5em;
    padding: .5em;
}

#articleTemplate { display: none; }
#adminTools { display: none; }

#vanityStatsContainer {
    -webkit-transform-origin: center top;
    -moz-transform-origin: center top;
    -ms-transform-origin: center top;
    -o-transform-origin: center top;
    transform-origin: center top;
    position: relative;
    overflow: auto;
    padding: 20px 5px 5px 5px;
    border: 10px solid black;
    margin: 0px auto;
    max-width: 100%;
    max-height: 100%;
    width: 25em;
    height: auto;
    outline: none;
    margin: 0 auto;
}


#vanityStatsContainer div {
    background-color: rgb(64, 64, 64);
    width: 25em;
    height: 2em;
    float: left;
}

